.text-color-dim {
  color: var(--text-dim);
}

.text-color-normal {
  color: var(--text-normal);
}


:root {
  --Max-Width: 500px;
  --header_gradient_css: linear-gradient(130deg, #24c6dc, #5433ff 41.07%, #ff0099 76.05%);
}
