.DivCSS {
    background-color: var(--background-primary-alt);
    color: black;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(33, 44, 55, .3);
}
@MAXWidth:500px;

:root {
    --Max-Width: @MAXWidth;
    --header_gradient_css: linear-gradient(130deg, #24c6dc, #5433ff 41.07%, #ff0099 76.05%);
}