/DotNetCore-blog/BlogWebAPI/Aritcle.Domian/obj
/DotNetCore-blog/BlogWebAPI/Aritcle.Domian/bin
/DotNetCore-blog/BlogWebAPI/Article.Infrastructure/obj
/DotNetCore-blog/BlogWebAPI/Article.Infrastructure/bin
/DotNetCore-blog/BlogWebAPI/BlogCommon/obj
/DotNetCore-blog/BlogWebAPI/BlogCommon/bin
/DotNetCore-blog/BlogWebAPI/BlogWebAPI/obj
/DotNetCore-blog/BlogWebAPI/BlogWebAPI/bin
/DotNetCore-blog/BlogWebAPI/CommonInfrastructure/obj
/DotNetCore-blog/BlogWebAPI/CommonInfrastructure/bin
/DotNetCore-blog/BlogWebAPI/CommonInitializer/bin
/DotNetCore-blog/BlogWebAPI/CommonInitializer/obj
/DotNetCore-blog/BlogWebAPI/Commons/obj
/DotNetCore-blog/BlogWebAPI/Commons/bin
